/* Start Global rules */
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Color Theme Swatches */
  --main-color-theme: #d32931;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*extra large*/
@media (min-width: 1460px) {
  .container {
    width: 1440px;
  }
}

.title {
  font-family: 'Great Vibes', cursive;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 60px;
  color: var(--main-color-theme);
  margin-top: 20px;
}

.head {
  text-align: center;
}

.head img {
  width: 80px;
}

.head h1.title {
  margin: 10px 0 0;
}

.head h2 {
  text-transform: uppercase;
  font-size: 34px;
  color: #111;
  margin: 0;
}

.head.left {
  text-align: left;
}

.head.left h2 {
  margin: 10px 0 20px;
}

.link {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--main-color-theme);
  border-radius: 3px;
  border: 2px solid var(--main-color-theme);
  display: inline-block;
  padding: 13px 25px;
  margin-top: 35px;
  letter-spacing: 1px;
  -webkit-transition: .3s;
  transition: .3s;
}

.link:hover {
  color: white;
  background-color: var(--main-color-theme);
}

/* End Global rules */
/* header */
body {
  position: relative;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 999;
  margin-top: 40px;
  -webkit-transition: .5s;
  transition: .5s;
}

header.sticky {
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: unset;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

header.sticky .container {
  background-color: unset;
}

header .container {
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
  padding: 25px;
  cursor: pointer;
}

.burger span {
  height: 3px;
  width: 25px;
  background-color: white;
  display: block;
  -webkit-transition: inherit;
  transition: inherit;
}

.burger span:not(:last-child) {
  margin-bottom: 4px;
}

.burger.clicked span:nth-child(2) {
  opacity: 0;
}

.burger.clicked span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-4px, 6px);
          transform: rotate(-45deg) translate(-4px, 6px);
}

.burger.clicked span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-4px, -6px);
          transform: rotate(45deg) translate(-4px, -6px);
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}

#logo h1 {
  color: white;
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 400;
}

#logo img {
  width: 50px;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .menu > li {
  position: relative;
}

header .menu > li .main-link {
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  padding: 31px 15px;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

header .menu > li .main-link::before {
  width: 0%;
  height: 3px;
  position: absolute;
  content: '';
  background-color: var(--main-color-theme);
  left: 0;
  bottom: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

header .menu > li .main-link:hover {
  color: white;
}

header .menu > li .main-link:hover::before {
  width: 100%;
}

@media (max-width: 1034px) {
  header {
    margin-top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: unset;
  }
  header .container .menu {
    display: none;
    right: -200%;
    -webkit-transition: 1s ease-out;
    transition: 1s ease-out;
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    position: absolute;
    opacity: 0;
    top: 80px;
    width: 80%;
    height: unset;
    background-color: rgba(0, 0, 0, 0.9);
  }
  header .container .menu li {
    padding: 15px 5px;
  }
  header .container .menu li .main-link:hover::before {
    bottom: 15px;
  }
  header .container .menu.active {
    right: 0;
    opacity: 1;
  }
  header .container .menu .sub-menu {
    display: none;
  }
  header .container .menu .feature {
    display: none;
  }
  header .container .burger {
    display: block;
    left: 0;
  }
}

header .sub-menu {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  top: 50px;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 7px;
}

header .sub-menu.right {
  right: 0;
}

header .sub-menu li {
  padding: 0 15px;
  position: relative;
}

header .sub-menu li a {
  padding: 10px 10px;
  color: white;
  display: inline-block;
  position: relative;
  z-index: 99;
}

header .sub-menu li::before {
  width: 0;
  height: 100%;
  position: absolute;
  content: '';
  background-color: var(--main-color-theme);
  left: 0;
  bottom: 0;
  -webkit-transition: .3s;
  transition: .3s;
  left: 15px;
  border-radius: 5px;
}

header .sub-menu li:hover::before {
  width: calc(100% - 30px);
}

.menu > li:hover .sub-menu {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

header .menu .sp {
  position: unset;
}

header .menu .sp:hover .feature {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.menu .feature {
  position: absolute;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  right: 0;
  gap: 20px;
  top: 80px;
  padding: 15px 40px 30px 10px;
}

.menu .feature .box {
  -webkit-transition: .3s;
  transition: .3s;
  width: 150px;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 7px;
}

.menu .feature .box li {
  padding: 0 15px;
  position: relative;
}

.menu .feature .box li a {
  padding: 10px 10px;
  color: white;
  display: inline-block;
  position: relative;
  z-index: 99;
}

.menu .feature .box li::before {
  width: 0;
  height: 100%;
  position: absolute;
  content: '';
  background-color: var(--main-color-theme);
  left: 0;
  bottom: 0;
  -webkit-transition: .3s;
  transition: .3s;
  left: 15px;
  border-radius: 5px;
}

.menu .feature .box li:hover::before {
  width: calc(100% - 30px);
}

.menu .feature .schedule h3 {
  color: var(--main-color-theme);
  font-family: 'Lobster';
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.menu .feature .schedule .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.menu .feature .schedule .days .daysG .day {
  margin-bottom: 20px;
}

.menu .feature .schedule .days .daysG .day h4 {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.menu .feature .schedule .days .daysG .day span {
  color: rgba(255, 255, 255, 0.75);
}

/* header | end */
.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../images/hero3.jpg");
  background-size: cover;
  position: relative;
  margin: 0;
}

.hero::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.35);
}

.about {
  padding-top: 75px;
  padding-bottom: 100px;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .container .info {
  min-width: 350px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about .container .info img {
  width: 85px;
}

.about .container .info h2 {
  margin-bottom: 0;
  text-transform: capitalize;
  color: #555;
}

.about .container .info p {
  line-height: 1.7;
  color: #999;
  width: 90%;
  margin-bottom: 30px;
}

.about .container .info a {
  color: var(--main-color-theme);
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px 25px;
  border: 2px solid var(--main-color-theme);
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  display: inline-block;
}

.about .container .info a:hover {
  color: white;
  background-color: var(--main-color-theme);
}

.about .container .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .container .image img {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 1002px) {
  .about {
    padding-top: 50px;
    padding-bottom: 75px;
  }
  .about .container {
    gap: 60px;
  }
  .about .container .info {
    text-align: center;
  }
  .about .container .info p {
    width: unset;
  }
}

@media (max-width: 768px) {
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.special-dishes {
  padding-top: 75px;
  padding-bottom: 100px;
  background-color: #f9f9f9;
}

.special-dishes .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.special-dishes .container .images {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.special-dishes .container .images .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.special-dishes .container .images .box:last-child img:last-child {
  margin-top: 25px;
}

.special-dishes .container .images .box img {
  width: 100%;
}

.special-dishes .container .info {
  width: 50%;
  text-align: center;
  padding: 0 50px 0;
}

.special-dishes .container .info img {
  width: 85px;
}

.special-dishes .container .info h2 {
  margin-bottom: 0;
  text-transform: capitalize;
  color: #555;
  font-weight: 900;
  font-size: 26px;
}

.special-dishes .container .info p {
  line-height: 1.7;
  color: #999;
  margin-bottom: 20px;
}

.special-dishes .container .info span {
  font-size: 34px;
  font-weight: normal;
  color: #777;
}

@media (max-width: 1182px) {
  .special-dishes .container .images .box:first-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .special-dishes .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .special-dishes .container .images {
    width: unset;
  }
  .special-dishes .container .info {
    padding: unset;
    padding-top: 50px;
    width: 100%;
  }
}

.speciality {
  padding-top: 75px;
  padding-bottom: 100px;
}

.speciality .info {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.speciality .info .box {
  max-width: 300px;
}

.speciality .info .box img {
  width: 80px;
  -webkit-transition: .3s;
  transition: .3s;
}

.speciality .info .box:hover img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.speciality .info .box h3 {
  text-transform: capitalize;
  color: #191b1d;
}

@media (max-width: 768px) {
  .speciality {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

.discover {
  padding-top: 75px;
  padding-bottom: 100px;
  background-color: #f9f9f9;
}

.discover .dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
}

.discover .dishes .part .ticket {
  width: 540px;
  max-height: 123px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ddd;
  padding: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.discover .dishes .part .ticket:not(:last-child) {
  margin-bottom: 40px;
}

.discover .dishes .part .ticket img {
  height: 100px;
}

.discover .dishes .part .ticket .info {
  padding: 10px 20px;
}

.discover .dishes .part .ticket .info h3 {
  margin: 0 0 10px;
  font-weight: normal;
  color: #191b1d;
  -webkit-transition: .3s;
  transition: .3s;
}

.discover .dishes .part .ticket .info p {
  line-height: 1.7;
  font-size: 13px;
  color: #666;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0;
}

.discover .dishes .part .ticket span {
  font-size: 36px;
  margin-right: 20px;
  color: #777;
  -webkit-transition: .3s;
  transition: .3s;
}

.discover .dishes .part .ticket:hover {
  background-color: var(--main-color-theme);
  border-color: var(--main-color-theme);
}

.discover .dishes .part .ticket:hover h3, .discover .dishes .part .ticket:hover p, .discover .dishes .part .ticket:hover span {
  color: white;
}

@media (max-width: 630px) {
  .discover .dishes .part .ticket {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: unset;
    text-align: center;
    margin: auto;
    width: 90%;
  }
  .discover .dishes .part .ticket img {
    width: 100%;
    height: unset;
  }
}

.rest {
  min-height: 300px;
  background-image: url("../images/hero3.jpg");
  background-size: cover;
  background-position: cover;
  background-attachment: fixed;
  position: relative;
  padding: 100px 20px;
  z-index: 1;
  text-align: center;
}

.rest::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.rest img {
  position: relative;
  z-index: 5;
}

.rest h1 {
  font-family: 'Great Vibes';
  font-size: 60px;
  text-transform: capitalize;
  color: white;
  font-weight: normal;
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
}

.rest p {
  color: white;
  max-width: 1000px;
  margin: auto;
  line-height: 1.7;
  position: relative;
  z-index: 5;
}

.rest a {
  display: inline-block;
  padding: 15px 25px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 30px;
  -webkit-transition: .3s;
  transition: .3s;
  letter-spacing: 1px;
  font-weight: bold;
  position: relative;
  z-index: 5;
}

.rest a:hover {
  color: var(--main-color-theme);
  background-color: white;
}

.chef {
  padding-top: 75px;
  padding-bottom: 100px;
}

.chef .chefs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.chef .chefs .box {
  width: 350px;
  position: relative;
}

.chef .chefs .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.chef .chefs .box:hover::before {
  opacity: 1;
}

.chef .chefs .box img {
  width: 100%;
}

.chef .chefs .box .details {
  position: absolute;
  bottom: 50px;
  right: 30px;
  -webkit-transition: .2s;
  transition: .2s;
}

.chef .chefs .box .details h3 {
  background-color: var(--main-color-theme);
  padding: 8px 20px;
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 0;
}

.chef .chefs .box .details p {
  background-color: var(--main-color-theme);
  padding: 8px 20px;
  text-transform: capitalize;
  color: white;
  font-weight: normal;
  font-size: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  text-align: end;
  margin-left: auto;
  margin-right: -15px;
}

.chef .chefs .box:hover .details {
  opacity: 0;
}

.chef .chefs .box .social {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 120px;
  z-index: 9;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.chef .chefs .box .social li {
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  top: 50%;
  left: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 11;
}

.chef .chefs .box .social li a {
  cursor: pointer;
}

.chef .chefs .box .social li a i {
  color: white;
}

.chef .chefs .box .social li:nth-child(1) {
  top: -40px;
  left: -40px;
}

.chef .chefs .box .social li:nth-child(2) {
  top: 0px;
  left: 40px;
}

.chef .chefs .box .social li:nth-child(3) {
  top: 120px;
  left: -40px;
}

.chef .chefs .box .social li:nth-child(4) {
  top: 160px;
  left: 40px;
}

.chef .chefs .box .social::before {
  position: absolute;
  content: '';
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  border: 1px solid white;
  z-index: 8;
  -webkit-transition: .3s;
  transition: .3s;
}

.chef .chefs .box:hover .social {
  opacity: 1;
}

.chef .chefs .box:hover .social::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 200px;
  height: 200px;
}

.chef .chefs .box:hover .social li:nth-child(1) {
  top: 0;
  left: 0;
}

.chef .chefs .box:hover .social li:nth-child(2) {
  top: 40px;
  left: 0;
}

.chef .chefs .box:hover .social li:nth-child(3) {
  top: 80px;
  left: 0;
}

.chef .chefs .box:hover .social li:nth-child(4) {
  top: 120px;
  left: 0;
}

.event {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../images/event-show.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.event::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.527);
}

.event .box {
  max-width: 1000px;
  background-color: rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  margin: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 5;
}

.event .box .image {
  width: 350px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.event .box .image img {
  width: 100%;
  padding: 10px;
  background-color: #eee;
}

.event .box .info {
  text-align: center;
  color: white;
  max-width: 500px;
}

.event .box .info h1 {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
  letter-spacing: 1px;
}

.event .box .info p {
  line-height: 1.5;
  color: #eaeaea;
  margin-bottom: 25px;
}

.event .box .info a {
  text-transform: uppercase;
  color: white;
  padding: 13px 25px;
  border: 2px solid white;
  border-radius: 5px;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 600;
  -webkit-transition: .3s;
  transition: .3s;
}

.event .box .info a:hover {
  background-color: var(--main-color-theme);
  border-color: var(--main-color-theme);
}

.testimonial {
  padding-top: 75px;
  padding-bottom: 100px;
}

.testimonial .slider {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonial .slider i {
  padding: 5px 10px;
  border: 1px solid var(--main-color-theme);
  color: var(--main-color-theme);
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.testimonial .slider i:hover {
  color: white;
  background-color: var(--main-color-theme);
}

.testimonial .slider .testi {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 95%;
  overflow-x: auto;
  gap: 40px;
  overscroll-behavior-inline: contain;
}

.testimonial .slider .testi .box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.testimonial .slider .testi .box .image {
  width: 100px;
  margin: 0;
}

.testimonial .slider .testi .box .image img {
  width: 100%;
  border-radius: 50%;
  margin: 0;
  border: 8px solid #eaeaea;
}

.testimonial .slider .testi .box p {
  max-width: 1000px;
  color: #777;
  line-height: 1.5;
  margin-bottom: 0;
}

.testimonial .slider .testi .box h3 {
  color: var(--main-color-theme);
  text-transform: uppercase;
  font-weight: normal;
}

.reservation {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-image: url("../images/appoinment.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
}

.reservation .head {
  margin-bottom: 50px;
}

.reservation .head .title,
.reservation .head h2 {
  color: white;
  font-weight: normal;
}

.reservation .con {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 10px;
}

.reservation .con form {
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 450px;
  margin: auto;
  padding: 20px;
}

.reservation .con form .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reservation .con form .row input,
.reservation .con form .row select {
  width: 500%;
  padding: 10px;
  text-transform: uppercase;
  margin: 10px;
  border: none;
}

.reservation .con form .row input:focus,
.reservation .con form .row select:focus {
  outline: none;
}

.reservation .con form input[type="submit"] {
  background-color: var(--main-color-theme);
  border: none;
  margin: 10px;
  width: calc(100% - 20px);
  padding: 10px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

@media (max-width: 500px) {
  .reservation .con form .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer {
  background-color: #333;
}

footer .container {
  padding-top: 50px;
  padding-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px dashed #555;
}

footer .container .box {
  max-width: 410px;
  color: #999;
}

footer .container .box p {
  line-height: 1.4;
}

footer .container .box .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

footer .container .box .social li a i {
  color: #aaa;
  position: relative;
  z-index: 5;
  padding: 15px;
  background-color: #555;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .container .box .social li a i:hover {
  background-color: #fafafa;
  color: var(--main-color-theme);
}

footer .container .box h2 {
  text-transform: uppercase;
  color: #fafafa;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  letter-spacing: 2px;
}

footer .container .box .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

footer .container .box .days .daysG .day {
  margin-bottom: 20px;
}

footer .container .box .days .daysG .day h4 {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: capitalize;
}

footer .container .box .days .daysG .day span {
  color: rgba(255, 255, 255, 0.75);
}

footer .copy {
  text-align: center;
  padding: 20px;
  color: #999;
  line-height: 1.5;
}

footer .copy a {
  color: var(--main-color-theme);
  font-weight: 600;
  text-transform: capitalize;
}

footer .copy a:hover {
  text-decoration: underline;
}

@media (max-width: 811px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    text-align: center;
  }
  footer .container #logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .container .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero-about-us-1 {
  height: 400px;
  background-image: url("../images/breadcrumb.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-about-us-1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 230px;
}

.hero-about-us-1 .container h1 {
  font-family: 'Great Vibes', cursive;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 60px;
  font-weight: normal;
  color: var(--main-color-theme);
}

.hero-about-us-1 .container p {
  color: white;
}

.hero-about-us-1 .container p a {
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.hero-about-us-1 .container p a:hover {
  color: var(--main-color-theme);
}

@media (max-width: 600px) {
  .hero-about-us-1 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-about-us-1 .container h1 {
    margin: 0;
  }
}

.testimonial.about-us-1,
.speciality.about-us-1 {
  background-color: #f9f9f9;
}

.welcome {
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
}

.welcome p {
  margin-top: 50px;
  background-color: #f9f9f9;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  padding: 25px;
  color: #555;
  line-height: 1.5;
}

.welcome h2 {
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 40px;
}

.welcome a {
  color: var(--main-color-theme);
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px 25px;
  border: 2px solid var(--main-color-theme);
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  display: inline-block;
}

.welcome a:hover {
  color: white;
  background-color: var(--main-color-theme);
}

.about-us-2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us-2 .container .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-us-2 .container .info p {
  line-height: 1.5;
  color: #777;
  margin-top: 30px;
}

.about-us-2 .container .info .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  margin-top: 35px;
}

.about-us-2 .container .info .lists li {
  padding-left: 30px;
  position: relative;
}

.about-us-2 .container .info .lists li:not(:last-child) {
  margin-bottom: 15px;
}

.about-us-2 .container .info .lists li::before {
  content: '';
  position: absolute;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid var(--main-color-theme);
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.about-us-2 .container .info .lists li::after {
  content: '';
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: var(--main-color-theme);
  left: 6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.about-us-2 .container .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

@media (max-width: 830px) {
  .about-us-2 {
    padding-top: 30px;
  }
  .about-us-2 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-us-2 .container .info .lists {
    gap: 20px;
  }
}

.para {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f9f9f9;
}

.para .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.para .container .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.para .container .image img {
  width: 100%;
}

.para .container .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.para .container .info img {
  width: 80px;
}

.para .container .info h2 {
  text-transform: capitalize;
  font-size: 30px;
  color: #111;
  margin: 0;
  margin-bottom: 25px;
}

.para .container .info p {
  line-height: 1.5;
  color: #777;
  margin: 0;
  margin-bottom: 25px;
}

.para .container .info .link {
  margin-top: 0;
}

@media (max-width: 1034px) {
  .para .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */