/* Start Global rules */

:root {
    box-sizing: border-box;

/* Color Theme Swatches in RGBA */


}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*small*/
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}


/*medium*/
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}


/*large*/
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/*extra large*/
@media (min-width:1460px) {
    .container {
        width: 1440px;
    }
}

/* End Global rules */


/* header */
body{
    height: 2000px;
    position: relative;
}

header{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 999;
    margin-top: 40px;
    transition: .3s;
    &.sticky{
        background-color: rgba(0, 0, 0, 0.7);
        margin-top: unset;
        .container{
            background-color: unset;
        }
    }
}

header .container{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

header #logo{
    display: flex;
    align-items: center;
    gap: 13px;
    h1{
        color: white;
        font-family: 'Poppins';
        text-transform: uppercase;
        font-weight: 400;
    }
}

header .menu{
    display: flex;
    &>li{
        a{
            color: rgba(255, 255, 255, 0.9);
            text-transform: uppercase;
            padding: 12px 15px;
            transition: .3s;
            position: relative;
            &::before{
                width: 0%;
                height: 3px;
                position: absolute;
                content: '';
                background-color: #d32931;
                left: 0;
                bottom: -19px;
                transition: .3s;
            }
            &:hover{
                color: rgba(255, 255, 255, 1);
            }
            &:hover::before{
                width: 100%;
            }
            
        }
    }
}

header #logo img{
    width: 50px;
}

/* header | end */

.hero{
    width: 100vw;
    height: 100vh;
    background-image: url('../images/hero3.jpg');
    background-size: cover;
    position: relative;

    &::before{
        width: 100%;
        height: 100%;
        position: absolute;
        content: '';
        background-color: rgba(0, 0, 0, 0.35);
    }
}