/* Start Global rules */

:root {
    box-sizing: border-box;
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --section-background-color: #ececec;
    --main-transition: .3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*small*/
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}


/*medium*/
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}


/*large*/
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/*extra large*/
@media (min-width:1460px) {
    .container {
        width: 1440px;
    }
}

/* End Global rules */